PORTFOLIO_FULL_NAME=
PORTFOLIO_EMAIL=
PORTFOLIO_PHONE=
PORTFOLIO_UNIVERSITY=
PORTFOLIO_STATUS=
PORTFOLIO_SEMESTER=
PORTFOLIO_PROFILE_IMAGE_URL=
PORTFOLIO_ABOUT_IMAGE_URL=
PORTFOLIO_LINKEDIN_URL=
PORTFOLIO_GITHUB_URL=
PORTFOLIO_INSTAGRAM_URL=
PORTFOLIO_RESUME_URL=
INTERNSHIP_ROLE=
INTERNSHIP_YEAR=
INTERNSHIP_COMPANY=
